* {margin:0; padding:0; font:100% Arial;}
* label{color: #333; display:inline-block; min-width:10em;text-align:right;vertical-align:top; }
div {min-height: 2em; width:100%;}
.localKeyPubRaw {color:green; font-weight:bold;}
.salt {color:blue; font-weight:bold;}
.nonce {color:purple; font-weight:bold;}
.title {font-weight: bold; display:block-inline; width: 10em;}
.value {font: 100% courier}
input {width: 80%;}
textarea {width:80%;}
#curl .value{white-space: pre;}
#curl .value .body {font: 100% courier; display:block-inline; max-width:70%;}
