* {margin:0;padding:0;font:100% Arial;}
body {margin:0 auto;max-width:60em;color:#333;background-color:#FeFeFe;}
div {min-height:2em;width:100%; margin-right:1em;}
h1 {font-size:200%;font-weight:bold;}
h2 {font-size:125%;text-indent:-3em;font-weight:bold;}
input {width:80%;font-family:"courier new",courier,monospace;border:1px solid;}
textarea {width:80%;height:12EX;font-family:"courier new",courier,monospace;border:1px solid;}
p,.description {margin-bottom:.5em;color:#666;}
code {font: 90% "courier new",courier,monospace;}
.intro,.section {padding:0 0 0 4em;}
.ctrl {margin:.5em 0;font-weight:bold;font-size:120%;}
.ctrl button {border:2px solid black;border-radius:5px;}
.section{background-color:#EfEfEf;border-width:2px 0;border-color:#8f8f8f;border-style:solid;}
.error {color:red; border: 1px solid red;}t
.errMsg {color:red;}
#vapidClaims label b{font-weight:bold; display:inline-block; min-width:3em;}
.value {font:100% "courier new",courier,monospace;background-color:#FEFEFE;width:95%;color:#333;margin-bottom:2em;white-space:pre-wrap;word-break:break-all;box-shadow: 5px 5px 5px rgba(200,200,200,50);padding:5px;}
.endpoint {color:#33F;}
.local_key {color:#005444;font-weight:bold;text-decoration:underline solid #CCC;}
.remote_key {color:#005444;font-weight:bold;text-decoration:double-underline solid #CCC;}
.salt {color:#008700;font-weight:bold;text-decoration:underline wavy #CCC;}
.nonce {color:purple;font-weight:bold;}
.title {font-weight:bold;display:block-inline;width:10em;text-indent:-3em;}
.encrypt {text-background:#EFF;border:1px solid #CFF;}
.data_ok {color:green;}
.data_err {color:red;}
.hidden {display:none;}
#curl .value .body {font:100% "courier new",courier,monospace;}
#fakeNotif {border:2px solid black;background-color:#EEE;width:300px;min-height:100px;position:relative;border-radius:5px;box-shadow:4px 4px 4px rgba(120,120,120,120);}
#fakeNotif .close {position:absolute;top:0;right:0;color:#888;border-radius:5px;width:1em;margin:0;}
#fakeNotif .fntitle {position:absolute;top:0;left:.5em;font-weight:bold;}
#fakeNotif img {position:absolute;top:1.5em;left:.5em;}
#fakeNotif .msg {position:absolute;top:1.5em;left:90px;}
#fakeNotif .via {position:absolute;bottom:0;left:90px;font-size:70%;color:#888;}

